<div class="gbglossary_listview">
  <span class="accordeon">
    <f:for each="{letters}" as="status" key="letter">
      <span class="accordeon_letter">
        <f:if condition="{status}">
          <f:then>
            <f:link.action action="list" section="keyword_{letter}" class="glossarlink">{letter}</f:link.action>
          </f:then>
          <f:else>
            {letter}
          </f:else>
        </f:if>
      </span>
    </f:for>
  </span>
  <f:for each="{definitions}" as="definitiongroup" key="letter">
    <f:if condition="{definitiongroup}">
      <h4 id="keyword_{letter}">{letter}</h4>
      <ul>
        <f:for each="{definitiongroup}" as="definition">
          <li>
            <f:link.action action="show" arguments="{definition : definition, backPid : 'true'}">
              {definition.short}
            </f:link.action>
            <br/>
            {definition.longversion}
          </li>
        </f:for>
      </ul>
    </f:if>
  </f:for>
</div>
